/* @override 
	http://gont.ljc.laika.com:3474/css/default.css
	http://localhost:3474/css/default.css
*/

/*
 *  ThingFish default stylesheet
 *  $Id$
 *
 *  Color-table:
 *    Peach      = #fff4cf
 *    Blue       = #424e4f
 *    Dark Grey  = #151617
 *    Light Grey = #323435 
 *
 */

@import url(reset.css);
@import url(deveiate.css);
@import url(jquery.fancybox.css);
@import url(smoothness/jquery-ui-1.7.1.custom.css);

/* @group Elements */

html {
	height: inherit;
}

body {
	height: 100%;
	background: #dedede;
	font: 76% "Gill Sans", Tahoma, sans-serif;
	color: #333;
	margin: 0;
	padding: 0;
	min-width: 600px;
	height: 100%
}

a {
	text-decoration: none;
	color: #900000;
}

fieldset {
	background: white;
	margin: 4px 0;
	padding: 4px;
}



#header {
	margin: 1em;
	padding: 0;
	height: 55px;
	position: relative;
	border-bottom: 1px solid #333;
}
#header .banner {
	font-size: 3.5em;
}
#user-menu {
	position: absolute;
	top: 4px;
	right: 1em;
}
#user-menu p {
	display: inline;
}
#dam-menu {
	position: absolute;
	bottom: 4px;
	right: 1em;
	font-size: 1.2em;
}

#basic-search input,
#basic-search button {
	margin: 0 auto;
	text-align: center;
	width: 95%;
}

#content {
	position: relative;
	min-height: 500px;
}

#side-column {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 1em;
	height: 100%;
	width: 250px;
}

#content #main-column {
	margin: 0 25px 0 300px;
	padding: 2em;
	background: #ccc;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	min-height: 250px;
}


#tray {
	background: #333 url(../images/shadows/smallest-30.png) repeat-x 0 top;
	height: 120px;
	width: 100%;
	position: absolute;
	bottom: 25px;
	
}
#footer {
	position: absolute;
	bottom: 0;
	height: 25px;
	width: 100%;
	background: #333;
	color: #dedede;
}
#footer #info-menu {
	float: right;
	margin-right: 1em;
	font-size: 0.9em;
}
#footer #info-menu a {
	color: white;
	border-bottom: 1px dotted;
}
#footer #copyright {
	margin-left: 1em;
}


/* @group Classes */

.placeholder {
	display: block;
	margin: auto;
	text-align: center;
	vertical-align: middle;
	padding: 0;
	font-size: 4em;
	color: rgba( 50,50,50, 0.25 );
}

.column-box {
	margin: 0;
	background: rgba(255,255,255,0.45);
	border: 1px solid white;
	-webkit-box-shadow: rgba(25,25,25,0.2) 2px 2px 2px;
	-webkit-border-radius: 4px;
	box-shadow: rgba(25,25,25,0.2) 2px 2px 2px;
	-moz-border-radius: 1em;
}
.column-box h2 {
	padding: 0.4em 1em;
	background: white;
	-webkit-border-topleft-radius: 4px;
	-webkit-border-topright-radius: 4px;
	-moz-border-radius-topleft: 1em;
	-moz-border-radius-topright: 1em;
}
.column-box > div {
	padding: 0.4em 1em;
}
.column-box + .column-box {
	margin-top: 2em;
}

/* @end */


