/* @override 
	http://gont.ljc.laika.com:3474/css/default.css
	http://localhost:3474/css/default.css
*/

/*
 *  ThingFish default stylesheet
 *  $Id$
 *
 *  Color-table:
 *    Peach      = #fff4cf
 *    Blue       = #424e4f
 *    Dark Grey  = #151617
 *    Light Grey = #323435 
 *
 */

/* @group Elements */

html {
	height: 100%;
}

body {
	height: 100%;
	line-height: 1.5;
	background: #323435 url(/images/leftbar.png) repeat-y left bottom;
	font: 12px/1.6em "Lucida Grande", Tahoma, Sans-Serif;
	color: #ffffff;
	margin: 0;
	padding: 0;
	min-width: 600px;
	height: 100%
}

h1,h2,h3,h4,h5,h6 { font-weight: normal; }

h1 { line-height: 1; margin-bottom: 0.5em; }
h2 { margin: 0 0 4px; }
h3 { line-height: 1; margin-bottom: 1em; }
h4 { line-height: 1.25; margin-bottom: 1.25em; }
h5 { font-weight: bold; margin-bottom: 1.5em; }
h6 { font-weight: bold; }

p           { margin: 0 0 1.5em; }
p.last      { margin-bottom: 0; }
p img       { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.top   { margin-top: 0; }
img         { margin: 0 0 1.5em; }

a {
	color: #b6d7da;
	text-decoration: none;
	border-bottom: 1px dotted #999;
}

a img {
	border: 0;
}

h1 a, h2 a, h3 a {
	color: inherit;
}

a:hover {
	border-color: white;
	border-bottom-style: solid;
}

pre, code, tt {
	font-weight: normal;
	font-family: Monaco, "Andale Mono", "Vera Sans Mono", mono;
	color: #ccc;
}
pre {
	background-color: #424e4f;
	margin: 1em;
}
pre kbd {
	color: #fff;
	font-weight: bold;
}
td code {
	background-color: #343d3e;
}

/* @group Form Elements */

form fieldset {
	background: #404243;
	border: 0;
}


/* @end */

/* @group Tables */

table {
	background: #424e4f;
	border: 1px solid #323435;
	border-collapse: collapse;
	-webkit-box-shadow: black 2px 2px 5px;
	margin: 1.5em 0.2em;
}

table caption {
	caption-side: bottom;
	font-size: 12px;
	margin: 0;
	padding: 0;
	display: none;
}

#manual table {
	margin: inherit;
}

tr {
	border: 1px solid #151617;
}

td, th {
	padding: 4px 8px;
}

th {
	background: #26282a url(../images/shadows/large-50.png) repeat-x 0 top;
	font-weight: bold;
}

td > table {
	width: 100%;
}

/* @end */

/* @group Ordered Lists */

ol {
	margin: 0;
	padding: 0.5em 2em;
	background: #323435;
}

ol li {
	line-height: 1.25em;
}

ol li + li {
	margin-top: 0.8em;
}

/* @end */

/* @end */

/* @group Main Page Blocks */

#header {
	color: white;
	background: black url(/images/title.jpg) no-repeat top right;
	min-height: 295px;
	border-bottom: 1px solid black;
	margin-top: 0;
	vertical-align: bottom;
}

#tagline {
	bottom: 12px;
	margin: 0;
	background: #323435 url(/images/shadow.png) repeat-x center top;
	color: #fff4cf;
	font-size: 10px;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	padding: 8px 20px 0;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-bottomright: 15px;
}

#content {
	background: #323435 url(/images/leftbar.png) repeat-y left bottom;
	position: relative;
}

#footer {
	clear: both;
	font: 10px "Helvetica Neue";
	color: #fff4cf;
	padding: 0 1.5em 1em 2em;
	background: #323435 url(/images/leftbar.png) repeat-y left bottom;
}

#footer .svnid {
	float: right;
}

/* @end */

/* @group Header Pieces */

#header h1 {
	padding: 0.5em;
	margin: 0;
	text-shadow: black 3px 3px 5px;
	font-family: "Trajan Pro", Tahoma, sans-serif;
	color: white;
}

#header a {
	border: 0;
	color: inherit;
}

/* @end */

/* @group Content Pieces */

/* @group Left Column */

.left {
	background: #151617;
	position: absolute;
	top: 0;
	left: 0;
	width: 250px;
}

.left .section {
	margin: 2px 4px;
	font-size: 12px;
	text-align: right;
	padding: 0 20px 0 0;
}

.left .section h2 {
	color: white;
	background: #323435;
	padding: 4px 4px 2px;
	font-weight: normal;
	text-shadow: black 1px 1px 2px;
	letter-spacing: -0.1em;
	margin: 0;
}

.left .section h2 a {
	color: inherit;
}

.left .section a {
	border: inherit;
}

.left .section ul,
.left .section ol {
	list-style-type: none;
}

.left .section ul li,
.left .section ol li {
	line-height: 155%;
}

.left .section ul li.current,
.left .section ol li.current {
	background: #27282a;
}

.left .section h2.current:before,
.left .section ul li.current:before,
.left .section ol li.current:before {
	content: "\27a4  ";
}

/* @end */

/* @group Right Column */

.right {
	color: #fff4cf;
	margin: 0 0 0 260px;
	padding: 1em 2em 2em 1em;
	background: red;
	font-size: 14px;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	background-color: #323435;
}

.right h1 {
	position: relative;
	color: white;
	font-size: 35px;
	margin: 0 0 0.25em;
	text-shadow: black 3px 3px 5px;
	letter-spacing: 0.02em;
}

.right h2,
.right h3 {
	color: white;
	text-shadow: black 3px 3px 2px;
}

.right h2 {
	line-height: 1.5em;
	background: url(../images/horizontal-groove.png) repeat-x 0 bottom;
}

.right h3 {
	padding: 0;
	margin: 1.5em 0 2px;
}

.right h2 .title-link,
.right h3 .title-link {
	color: #999;
	font-size: 80%;
	text-shadow: none;
}

.right h3 + p {
	margin-top: 0;
}

.right .section {
}

.right .section + .section {
	padding-top: 5px;
}

#content .textright {
	float: right;
}



/* @end */

/*

 @end */

/*

 @group Inspected Object */

.inspected-object {
	font-size: 10px;
}

.inspected-object .object {
	background: #424e4f;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid black;
	-webkit-box-shadow: 2px 2px 5px black;
	margin: 4px;
}

.inspected-object .object:hover {
	background: #495657;
}

.inspected-object .object .object-header {
	background: #323435 url(/images/gradient.png) repeat-x center top;
	font-weight: bold;
	font-size: 110%;
	color: white;
	padding: 4px 8px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
}

.inspected-object .object .object-body {
	padding: 4px 8px;
}

.inspected-object .name {
	font-weight: bold;
	margin: 0;
}

.inspected-object .name:after {
	content: " = ";
}

.inspected-object .value {
	margin-bottom: 8px;
	margin-top: 0;
}

.inspected-object .value .immediate-object {
	border: 1px solid #666;
	background: #323435;
	padding: 0 4px;
	font-family: Monaco, "Andale Mono", mono;
}

.inspected-object .hash-members {
	border: 1px dotted #333;
	background: #424e4f;
}

.inspected-object .hash-pair > .key {
	font-weight: bold;
}

.inspected-object .hash-pair > .key:after {
	content: " \21D2 ";
}

.inspected-object .hash-pair > .value {
	margin-left: 12px;
}

.inspected-object .immediate-object {
	background: #323435;
	font: Monaco, 'Andale Mono', monospace;
}

.inspected-object .instance-variable + .instance-variable {
	border-top: 1px dotted #333;
}

.inspected-object ol {
	padding-left: 8px;
}

.inspected-object ol li {
	margin-left: 2px;
	list-style-position: inside;
}

/* @end */

/* @group Stats table */

table.stats {
	background: #323435;
}

table.stats td {
	text-align: right;
	font-size: 11px;
}

/* @end */

/* @group Manual styles */

/*
 *  Color-table:
 *    Peach      = #fff4cf
 *    Blue       = #424e4f
 *    Dark Grey  = #151617
 *    Light Grey = #323435 
 *
 */

/* @group API Docs key/value list */

dl {
	margin: 0.2em 1.5em;
	font-size: 12px;
	line-height: 1;
}

dl dt {
	color: white;
	padding: 0.4em;
	font-weight: bold;
	border-bottom: 1px solid #1b1d1e;
}

dl dd + dt {
	margin-top: 0.8em;
}

dl dd {
	line-height: 1.3em;
	margin: 0.5em 0.5em;
}

dl dd.example {
	background: #424e4f;
}

dl.barsections dt {
	padding: 0.4em;
	font-weight: bold;
	background: #26282a url(../images/shadows/small-50.png);
	border: 1px solid black;
}

/* @end */


/* @group Footnotes */
.footnote {
	border-top: 1px solid;
	margin-top: 4em;
	padding-top: 1em;
	font-size: 12px;
}
.footnote sup {
	border: 1px solid white;
	padding: 1px 3px;
	background: #121314;
	color: white;
}

.footnote + .footnote {
	border-top: 0;
	padding-top: 0;
	margin-top: 1em;
}
/* @end */


/* @group Example macro style */

.example {
	margin: 1em 0 20px;
	background-color: #424e4f;
	-webkit-box-shadow: black 2px 2px 5px;
	border: 1px solid black;
}

.example pre {
	padding: 4px 8px;
}

.example .caption {
	text-align: center;
	color: #fff4cf;
	font-size: 0.9em;
	border-top: 0;
	padding: 3px 0;
	background: #424e4f url(../images/shadows/smallest-50.png) repeat-x 0 top;
}

/* @end */

/* @group CodeRay highlighting */

.CodeRay {
	background-color: #f8f8f8;
	border: 1px solid silver;
	color: #100;
	line-height: 1em;
	font-size: 12px;
}

.CodeRay pre {
	background-color: #eae4d2;
	color: #333;
	margin: 0;
	padding: 0.25em 0px;
	line-height: 1.25em;
}

.CodeRay pre {
	margin: 1px
}

span.CodeRay {
	white-space: pre;
	border: 0px;
	padding: 2px
}

table.CodeRay {
	border-collapse: collapse;
	width: 100%;
	padding: 2px
}

table.CodeRay td {
	padding: 2px 4px;
	vertical-align: top
}

.CodeRay .line_numbers, .CodeRay .no {
	background-color: #ededed;
	color: gray;
	text-align: right;
	border-color: #333;
	border-right: 1px solid;
	border-bottom: 1px solid;
}

.CodeRay .line_numbers tt {
	font-weight: bold
}

.CodeRay .no {
	padding: 0px 4px
}
.CodeRay .no strong {
	font-weight: bold;
	color: #555;
}

.CodeRay .code {
	width: 100%
}

ol.CodeRay {
	font-size: 10pt
}

ol.CodeRay li {
	white-space: pre
}

.CodeRay .code pre {
	overflow: auto
}

.CodeRay .af {
	color: #00C
}

.CodeRay .an {
	color: #007
}

.CodeRay .av {
	color: #700
}

.CodeRay .aw {
	color: #C00
}

.CodeRay .bi {
	color: #509;
	font-weight: bold
}

.CodeRay .c {
	background: #cdd;
	color: #669;
}

.CodeRay .ch {
	color: #04D
}

.CodeRay .ch .k {
	color: #04D
}

.CodeRay .ch .dl {
	color: #039
}

.CodeRay .cl {
	color: #c63c36;
	font-weight: bold
}

.CodeRay .co {
	color: #036;
	font-weight: bold
}

.CodeRay .cr {
	color: #0A0
}

.CodeRay .cv {
	color: #369
}

.CodeRay .df {
	color: #099;
	font-weight: bold
}

.CodeRay .di {
	color: #088;
	font-weight: bold
}

.CodeRay .dl {
	color: black
}

.CodeRay .do {
	color: #970
}

.CodeRay .ds {
	color: #D42;
	font-weight: bold
}

.CodeRay .e {
	color: #666;
	font-weight: bold
}

.CodeRay .en {
	color: #800;
	font-weight: bold
}

.CodeRay .er {
	color: #F00;
	background-color: #FAA
}

.CodeRay .ex {
	color: #F00;
	font-weight: bold
}

.CodeRay .fl {
	color: #60E;
	font-weight: bold
}

.CodeRay .fu {
	color: #06B;
	font-weight: bold
}

.CodeRay .gv {
	color: #d70;
	font-weight: bold
}

.CodeRay .hx {
	color: #058;
	font-weight: bold
}

.CodeRay .i {
	color: #00D;
	font-weight: bold
}

.CodeRay .ic {
	color: #B44;
	font-weight: bold
}

.CodeRay .il {
	background: #eee
}

.CodeRay .il .il {
	background: #ddd
}

.CodeRay .il .il .il {
	background: #ccc
}

.CodeRay .il .idl {
	font-weight: bold;
	color: #888
}

.CodeRay .in {
	color: #B2B;
	font-weight: bold
}

.CodeRay .iv {
	color: #33B
}

.CodeRay .la {
	color: #970;
	font-weight: bold
}

.CodeRay .lv {
	color: #963
}

.CodeRay .oc {
	color: #40E;
	font-weight: bold
}

.CodeRay .on {
	color: #000;
	font-weight: bold
}

.CodeRay .op {
	
}

.CodeRay .pc {
	color: #038;
	font-weight: bold
}

.CodeRay .pd {
	color: #369;
	font-weight: bold
}

.CodeRay .pp {
	color: #579
}

.CodeRay .pt {
	color: #339;
	font-weight: bold
}

.CodeRay .r {
	color: #080;
	font-weight: bold
}

.CodeRay .rx {
	background-color: #fff0ff
}

.CodeRay .rx .k {
	color: #808
}

.CodeRay .rx .dl {
	color: #404
}

.CodeRay .rx .mod {
	color: #C2C
}

.CodeRay .rx .fu {
	color: #404;
	font-weight: bold
}

.CodeRay .s {
	background: rgba(240,240,240,0.5);
}

.CodeRay .s  .k {
	color: #666;
}

.CodeRay .s  .dl {
	color: #710;
}

.CodeRay .sh {
	background-color: #f0fff0
}

.CodeRay .sh .k {
	color: #2B2
}

.CodeRay .sh .dl {
	color: #161
}

.CodeRay .sy {
	color: #A60
}

.CodeRay .sy .k {
	color: #A60
}

.CodeRay .sy .dl {
	color: #630
}

.CodeRay .ta {
	color: #070
}

.CodeRay .tf {
	color: #070;
	font-weight: bold
}

.CodeRay .ts {
	color: #D70;
	font-weight: bold
}

.CodeRay .ty {
	color: #339;
	font-weight: bold
}

.CodeRay .v {
	color: #036
}

.CodeRay .xt {
	color: #444
}

/* @end */
/* @end */

/* @group Resource Browser */
table.files {
	width: 100%;
}
table.files .extrainfo {
	font-size: 0.7em;
}

table.files tr {
	border-left-width: 2px;
	border-right-width: 2px;
}
table.files td a {
}
table.files tr#metarow {
	font-size: 0.8em;
	background: #141617;
	padding: 0;
}
table.files tr#metarow td {
	padding: 5px;
}

table.files tr#metarow table#metainfo {
	margin: 0;
	background: #4f4f4f;
	-webkit-box-shadow: #333 0 2px 2px;
}
table.files tr#metarow table#metainfo th {
	font-weight: bold;
	text-align: right;
	background-color: transparent;
	border-right: 1px solid black;
}
table.files tr#metarow table#metainfo th,
table.files tr#metarow table#metainfo td {
	padding: 4px;
}

/* @end */

