/* @override http://localhost:3474/css/default.css */

/* 
 *  ThingFish manual stylesheet
 *
 *  A modified version of:
 *  andreas00 - an open source xhtml/css website layout by Andreas
 *  Viklund <http://andreasviklund.com>
 * 
 *  Free to use for any purpose as long as the proper credits are given
 *  to the original author.
 * 
 *  Version: 1.1 (Apr 20, 2006)
 *
 */

@import url(thickbox.css);

/* @group Body and main container */
body {
	margin: 0 auto;
	padding: 0;
	font: 76% Verdana,Tahoma,Arial,sans-serif;
	background: #eaeaea url(/images/bg.gif) top center repeat-y;
	color: #3a3a3a;
}

fieldset {
	border: 0;
}

#wrap {
	background-color: #ffffff;
	color: #303030;
	margin: 0 auto;
	padding: 1px 5px;
	width: 760px;
}
/* @end */


/* @group Header */
#header {
	color: #505050;
	background: #ffffff url(/images/front.jpg) top left no-repeat;
	height: 250px;
	margin: 0 0 10px 0;
	padding: 0;
}

#header h1 {
	font-size: 2.5em;
	font-weight: bold;
	letter-spacing: -2px;
	margin: 0 0 4px 15px;
	padding: 15px 0 0 0;
}

#header h1 a,#header h1 a:hover {
	padding: 0;
	color: #6c8c22;
}

#header p {
	font-size: 1.1em;
	letter-spacing: -1px;
	margin: 0 0 20px 15px;
	padding: 0 0 0 3px;
}
/* @end */

/* @group Right sidebar */
#extras {
	float: right;
	width: 130px;
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 0.9em;
}

#extras p, #extras ul {
	margin: 0 0 1.5em 0;
	line-height: 1.3em;
	padding: 0;
}

#extras a {
	font-weight: bold;
}

#extras li {
	list-style: none;
	margin: 0 0 6px 0;
	padding: 0;
}

#extras h2 {
	font-size: 1.6em;
	font-weight: normal;
	margin: 0 0 6px 0;
	;letter-spacing: -1px;
}
/* @end */

/* @group Main content */
#content {
	margin: 10px 140px 10px 160px;
	padding: 0;
	line-height: 1.5em;
	text-align: left;
}

#contentwide {
	margin: 10px 0 10px 10px;
	padding: 0;
	line-height: 1.5em;
	text-align: left;
}

#contentfull {
	margin: 10px 10px 10px 10px;
	padding: 2px 0 0 0;
	line-height: 1.5em;
	text-align: left;
}

#content h2, #contentwide h2, #contentfull h2 {
	font-size: 1.8em;
	letter-spacing: -1px;
	font-weight: normal;
	margin: 8px 0 10px 0;
	padding: 0;
	color: #6c8c22;
}

#content h3, #contentwide h3, #contentfull h3 {
	font-size: 1.5em;
	font-weight: normal;
	margin: 26px 0 6px 0;
	padding: 0;
}

#content a, #contentwide a, #contentfull a {
	font-weight: bold;
}

#content ul, #content ol,
#contentwide ul, #contentwide ol,
#contentfull ul, #contentfull ol {
	margin: 0 0 16px 20px;
	padding: 0;
}

#content ul ul, #content ol ol,
#contentwide ul ul, #contentwide ol ol,
#contentfull ul ul, #contentfull ol ol {
	margin: 2px 0 2px 20px;
}

#content li, #contentwide li, #contentfull li {
	margin: 0 0 2px 10px;
	padding: 0 0 0 4px;
}
/* @end */


/* @group Footer */
#footer {
	clear: both;
	margin: 0 auto;
	padding: 8px 0;
	border-top: 2px solid #dadada;
	width: 760px;
	text-align: center;
	color: #808080;
	background-color: #ffffff;
	font-size: 0.9em;
}

#footer p {
	padding: 0;
	margin: 0;
}

#footer a {
	color: #808080;
	background-color: inherit;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}
/* @end */


/* @group Various tags */
a {
	text-decoration: none;
	color: #505050;
	background-color: inherit;
}

a:hover {
	text-decoration: underline;
	color: #286ea0;
	background-color: inherit;
}

a img {
	border: 0;
}

p {
	margin: 0 0 16px 0;
}

blockquote {
	border-top: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	border-left: 4px solid #cccccc;
	margin: 16px;
	padding: 7px 7px 7px 11px;
	background: #f4f4f4 url(/images/menubg.gif) bottom left repeat-x;
	color: #505050;
}

blockquote p {
	font-size: 1.1em;
	line-height: 1.3em;
	margin: 0;
}
/* @end */


/* @group Table styles */
table {
	margin: 0 0 16px 0;
	padding: 0;
	line-height: 1.3em;
	border-collapse: collapse;
	border: 1px solid #d8d8d8;
}

caption {
	text-align: left;
	font-size: 1.5em;
	font-weight: normal;
	margin: 0;
	padding: 6px 0 8px 0;
}

th {
	padding: 7px;
	text-align: left;
	background: #eaeaea url(/images/menubg2.gif) bottom left repeat-x;
	color: #505050;
}

td {
	padding: 7px;
	font-size: 0.9em;
	text-align: left;
	background: #f4f4f4 url(/images/menubg.gif) bottom left repeat-x;
	color: #303030;
}

table td .extrainfo {
	font-size: 0.9em;
}

table.files td
{
	padding-bottom: 0;
}

/*
#metarow {
	display: none;
}
*/

#metainfo {
	width: 100%;
}

#metainfo td {
	font-size: 1em;
}


/* @end */

/* @group Form styles */
.button {
	border-top: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	border-left: 4px solid #cccccc;
	margin: 0 0 15px 0;
	padding: 7px 7px 7px 11px;
	background: #f4f4f4 url(/images/menubg.gif) bottom left repeat-x;
	color: #505050;
	font-weight: bold;
	width: 120px;
}

input, textarea {
	border: 1px solid #cccccc;
	font-family: Verdana,Tahoma,Arial,Sans-Serif;
	font-size: 1em;
	margin: 0;
	padding: 4px;
}

label {
	margin: 2px;
}

input {
	width: 200px;
}

textarea {
	width: 400px;
}
/* @end */

/* @group Search box */
#searchbox {
	padding: 0;
	margin: 6px 0 16px 0;
}

#searchform {
	background: #ffffff;
	border: 1px solid #cccccc;
	color: #505050;
	font-size: 0.9em;
	padding: 4px;
	width: 116px;
}

#searchbox label {
	display: none;
}
/* @end */

/* @group Various classes */
.left {
	margin: 10px 10px 5px 0;
	float: left;
}

.right {
	margin: 10px 0 5px 10px;
	float: right;
}

.textright {
	text-align: right;
	margin: -10px 0 4px 0;
}

.center {
	text-align: center;
}

.small {
	font-size: 0.8em;
}

.large {
	font-size: 1.3em;
}

.bold {
	font-weight: bold;
}

.highlighted {
	padding: 3px;
	background-color: #f0f0f0;
	color: #303030;
	border: 1px solid #b0b0b0;
}

.hide {
	display: none;
}

img.framed {
	padding: 1px;
	display: inline;
	background: #cccccc;
	color: #303030;
	border: 4px solid #f0f0f0;
}
/* @end */


/* @group Definition Lists */
dl.kvlist {
}

dl.kvlist dd dl {
	margin-right: 20px;
}

dl.kvlist dt {
	font-weight: bold;
	border-bottom: 1px solid #e4e0d2;
	padding: 2px 16px 0px;
	background: #918474 url(/images/icons/bullet_black.png) no-repeat 0 3px;
	color: #f8f7f1;
}
dl.kvlist dd + dl.kvlist dt {
	margin-top: 12px;
}

dl.kvlist dd {
	background-color: #f1eddf;
	padding-left: 20px;
}
dl.kvlist dd.subsection {
	padding-left:  30px;
	padding-bottom: 15px;
}
dl.kvlist dd.default, dl.kvlist dd.valid-values {
	color: #333;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 46px;
	font-style: italic;
}

dl.kvlist dd.default {
	background-image: url(/images/icons/bullet_go.png);
	background-repeat: no-repeat;
	background-position: 25px 5px;
}
dl.kvlist dd.valid-values {
	background-image: url(/images/icons/note.png);
	background-repeat: no-repeat;
	background-position: 25px 5px;
}
dl.kvlist dd ul {
	padding: 0;
	margin:  0;
}

dl.kvlist dd.subsection > dl dt {
	background-color: #f8f7f1;
	color: #666;
	padding-top: 3px;
	border: 1px solid #cdcbbe;
}
dl.kvlist dd.subsection > dl dd {
	background-color: #e4e0d2;
}
/* @end */



/* @group Example plugin style */
.example {
	margin-bottom: 20px;
}

.example pre {
	padding: 4px 8px;
}

.example .caption {
	background-color: #efefef;
	text-align: center;
	color: #999;
	font-size: 0.9em;
	border: 1px solid #ddd;
	border-top: 0;
}

/* @end */


/* @group Inspected Object */

.inspected-object {
}

.inspected-object .object {
	background: #ddd;
	border: 2px solid #999;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #333;
	-webkit-box-shadow: 2px 2px 5px #888;
	margin: 4px;
}

.inspected-object .object .object-header {
	font-weight: bold;
	font-size: 110%;
	background: #333;
	color: white;
	padding: 4px 8px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
}

.inspected-object .object .object-body {
	padding: 4px 8px;
}

.inspected-object .name {
	font-weight: bold;
	margin: 0;
}
.inspected-object .name:after {
	content: " = ";
}
.inspected-object .value {
	margin-bottom: 8px;
	margin-top: 0;
}
.inspected-object .value .immediate-object {
	border: 1px solid #666;
	background: #d8e7b5;
	padding: 2px 4px;
	font-family: Monaco, "Andale Mono", mono;
}
.inspected-object .hash-members {
	border: 1px dotted #333;
	background: #ddd;
}
.inspected-object .hash-pair > .key {
	font-weight: bold;
}	
.inspected-object .hash-pair > .key:after {
	content: " \21D2 ";
}

.inspected-object .hash-pair > .value {
	margin-left: 12px;
}

.inspected-object .immediate-object {
	background: #d6dec4;
	font: Monaco, 'Andale Mono', monospace;
}

.inspected-object ol {
	margin-left: 0 !important;
}
.inspected-object ol li {
	margin-left: 0 !important;
}

/* @end */

