		<h1>Buh?</h1>

		<% unless handler_index_sections.empty? %>
		<div class="handler-sections">
		<% for section in handler_index_sections %>
			<div class="section"><%= section %></div>
		<% end %>
		</div>
		<% end %>
