
<% search_uri = @config.find_handler_uri('simplesearch') %>

<h2>Values for '<%= key %>' property</h2>
<ul>
<% values.reject {|v| v == '' }.collect {|v| v.to_s }.sort.each do |value| %>
	<% if search_uri %> 
	<li><a href="<%= search_uri %>?<%= key %>=<%= u value %>"><%= h value %></a></li>
	<% else %>
	<li><%= value %></li>
	<% end %>
<% end %>
</ul>		
