<h2>ThingFish Internals</h2>

<% if body.is_a?( Hash ) %>
<% uri = @config.find_handler_uri('inspect') %>
<p>This is a list of the objects available for inspection:</p>
<ul>
<% body.each do |path, classname| %>
	<li><a href="<%= uri + '/' + path %>"><%= classname %></a></li>
<% end %>
</ul>
<% else %>
<div class="inspected-object">
<%= body.html_inspect %>
</div>
<% end %>
